<%# navigation styled for Bootstrap 4.0 %>
<div class="container">

  <nav class="iconav">
    <%= link_to root_path, :class => 'iconav-brand' do %>
      <span class="desktop">SP</span>
      <span class="mobile"> Farming</span>
    <% end %>
    <div class="iconav-slider">
      <ul class="nav nav-pills iconav-nav flex-md-column">
        <li class="nav-item">
          <%= link_to root_path, title: "Home" , :data => { :toggle => 'tooltip', :placement => 'right', :container => 'body' },  :class => 'nav-link' do %>
            <div class="nav-icon">  
              <i class="fas fa-home"></i>
            </div>
            <small class="iconav-nav-label">Home</small>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to orders_path, title: "Orders" , :data => { :toggle => 'tooltip', :placement => 'right', :container => 'body' }, :class => 'nav-link' do %>
            <div class="nav-icon">
              <i class="fas fa-briefcase"></i>
            </div>
            <small class="iconav-nav-label">Orders</small>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to contract_plans_path, title: "Contract Plans" , :data => { :toggle => 'tooltip', :placement => 'right', :container => 'body' }, :class => 'nav-link' do %>
            <div class="nav-icon">
              <i class="fas fa-shopping-cart"></i>
            </div>
            <small class="iconav-nav-label">Contract Plans</small>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, title: "Log out" , :data => { :toggle => 'tooltip', :placement => 'right', :container => 'body' }, method: :delete,  :class => 'nav-link' do %>
              <div class="nav-icon">
                <i class="fas fa-sign-out-alt"></i>
              </div>
              <small class="iconav-nav-label">Log out</small>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, title: "Log in" , :data => { :toggle => 'tooltip', :placement => 'right', :container => 'body' } , :class => 'nav-link' do  %>
              <div class="nav-icon">
                <i class="fas fa-sign-in-alt"></i>
              </div>
              <small class="iconav-nav-label">Log in</small>
            <% end %>
          </li>
        <% end %>
        
        <!--<li class="nav-item">
          <a class="nav-link active" href="../icon-nav/index.html" title: "Icon-nav" data-toggle="tooltip" data-placement="right" data-container="body">
            <span class="icon icon-area-graph"></span>
            <small class="iconav-nav-label d-md-none">Icon nav</small>
          </a>
        </li>-->
        
        
      </ul>
    </div>
  </nav>

  <!--<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark app-navbar">
      <a class="navbar-brand" href="../index.html">
      SP Farming: Dashboard
    </a>
    <button class="navbar-toggler navbar-toggler-right d-md-none" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav mr-auto">
        <%= render 'layouts/navigation_links' %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'active') %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>-->
</div>
