<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark app-navbar">
      <a class="navbar-brand" href="../index.html">
      <!--<span class="icon icon-leaf navbar-brand-icon"></span>-->
      SP Farming: Dashboard
    </a>
    <button class="navbar-toggler navbar-toggler-right d-md-none" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav mr-auto">
        <%= render 'layouts/navigation_links' %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'active') %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
      </ul>
    </div>
    <!--<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'navbar-brand') %>
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path, class: 'navbar-brand')  %>
        </li>
      <% end %>
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>-->
  </nav>
</div>
